*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    background-color: hsl(234, 29%, 20%);
}
main{
    background-color: #ffffff;
}
img{
    max-width: 100%;
    display: block;
    height: auto;
}
.desk-img{
    display: none;
}
.text-div{
    padding: 1rem 1.5rem;
}
.update-intro{
    color: hsl(235, 18%, 26%);
    font-weight: 700;
}
.update-p{
    font-weight: 400;
    color: 	#242742;
    line-height: 1.4;
    margin: 1.5rem 0;
}
.items-p{
    font-weight: 400;
    color: #242742;
    line-height: 1.3;
}
.figure{
    display: none;
}

#form{
    margin-bottom: 10px;
}
.lists{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 2rem;
}
.list-items{
    display: flex;
    gap: 16px;
}
.email-label{
    font-size: 0.7rem;
    display: block;
}
input[type = "email"]{
    width: 100%;
    margin: 0.3rem auto;
    padding: 0.7rem 0.5rem;
    max-width: 300px;
    border: 1px solid #9294a0;
    border-radius: 6px;
}
input:focus { 
    outline: 2px solid #9294a0; 
    outline-offset: 2px; 
}
.error-message{
    font-size: 0.7rem;
    display: none;
    color: #d00;
}
.error .error-message{
    display: block
}
.error input[type="email"]{
    border-color: #d00;
    background: #fff0f0;
}
.sub-button{
    background-color: hsl(234, 29%, 20%);
    color: white;
    font-weight: 700;
    width: 100%;
    max-width: 300px;
    margin: 0.7rem auto;
    padding: 0.7rem 0.5rem;
    border: 1px solid lightgray;
    border-radius: 6px;
    cursor: pointer;
}
.sub-button:hover {
    background: linear-gradient(to right, #e75e7c, #fe693e);
    box-shadow: 5px 7px 40px -7px#fe693e;
}



@media (min-width: 1024px){
    body{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* .main{
        max-width: 500px;
        width: 10%;
        margin: 0 auto;
    } */
    .container{
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
    }
    .mobile-img{
        display: none;
    }
    .desk-img{
        display: block;
    }
}